<!DOCTYPE html>
<html>
<head>
	<title>Oauth</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%# if current_user %>
	<%= current_user.try(:name) %>
	<%# else %>
	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
	<%= link_to "Sign in with LinkedIN", user_omniauth_authorize_path(:linkedin) %>
	<%# end %>
	<%= yield %>

</body>
</html>
